// Globals
@use "sass:map";

// Variables
@use "../variables/grid";

// Functions
@use "getFrom";
@use "getTo";
@use "largestWidth";
@use "lastValue";
@use "mapGet";
@use "mapGetNext";
@use "mapMerge";

// Create a new map for the grid
// Adds $from width at correct position

@function grid-breakpoints($fromto) {

  // Variables
  $from: getFrom.getFrom($fromto);
  $to: getTo.getTo($fromto);
  $new-map: ();

  // Run through each breakpoint
  @each $breakpoint, $values in grid.$illusion-grid-breakpoints {

    // Values
    $width: map.get($values, width);
    $gutter: map.get($values, gutter);
    $nextKey: mapGetNext.map-get-next(grid.$illusion-grid-breakpoints, $breakpoint, #{lastValue.lastValue()});
    $nextWidth: mapGet.map-deep-get(grid.$illusion-grid-breakpoints, $nextKey, "width");
    $largestWidth: largestWidth.largestWidth();

    // Create new temporary map and merge it with the current (looped) one
    @if $width >= $from and $width < $to {
      $map: (
              #{$breakpoint}: (
                      width: $width,
                      gutter: $gutter
              )
      );
      $new-map: mapMerge.non-destructive-map-merge($new-map, $map);
    }

    // Add custom from in between and merge it with the current (looped) one
    @if ($from > $width and $from < $nextWidth) or ($from > $largestWidth) {
      $map: (
              customFrom: (
                      width: $from,
                      gutter: $gutter
              )
      );
      $new-map: mapMerge.non-destructive-map-merge($new-map, $map);
    }
  }

  // Return the new map
  @return $new-map;
}


// Simple map
// Map with just 1 value for when $gutter is set

@function grid-breakpoint($fromto, $gutter) {

  // Variables
  $from: getFrom.getFrom($fromto);

  // Set to 0 when $fromto is false
  @if $from == false {
    $from: 0;
  }

  // Create map
  $map: (
          default: (
                  width: $from,
                  gutter: $gutter
          )
  );

  // Return the new map
  @return $map;
}
