// Globals
@use "sass:map";
@use "get";
@use "map-extend";
@use "../variables/grid";


// Create a new map for the grid
// Adds $from width at correct position

@function grid-breakpoints($fromto) {

  // Variables
  $from: get.get-from($fromto);
  $to: get.get-to($fromto);
  $new-map: ();

  // Run through each breakpoint
  @each $breakpoint, $values in grid.$illusion-grid-breakpoints {

    // Values
    $width: map.get($values, width);
    $gutter: map.get($values, gutter);
    $nextKey: map-extend.map-get-next(grid.$illusion-grid-breakpoints, $breakpoint, get.last-value());
    $nextWidth: map-extend.map-deep-get(grid.$illusion-grid-breakpoints, $nextKey, "width");
    $largest-width: get.largest-width();

    // Create new temporary map and merge it with the current (looped) one
    @if $width >= $from and $width < $to {
      $map: (
              #{$breakpoint}: (
                      width: $width,
                      gutter: $gutter
              )
      );
      $new-map: map-extend.non-destructive-map-merge($new-map, $map);
    }

    // Add custom from in between and merge it with the current (looped) one
    @if ($from > $width and $from < $nextWidth) or ($from > $largest-width) {
      $map: (
              customFrom: (
                      width: $from,
                      gutter: $gutter
              )
      );
      $new-map: map-extend.non-destructive-map-merge($new-map, $map);
    }
  }

  // Return the new map
  @return $new-map;
}


// Simple map
// Map with just 1 value for when $gutter is set

@function grid-breakpoint($fromto, $gutter) {

  // Variables
  $from: get.get-from($fromto);

  // Set to 0 when $fromto is false
  @if $from == false {
    $from: 0;
  }

  // Create map
  $map: (
          default: (
                  width: $from,
                  gutter: $gutter
          )
  );

  // Return the new map
  @return $map;
}
