// Globals
@use "sass:math";
@use "getUnit";
@use "stripUnit";


// Calc interpolation

@function calcInterpolation($min-screen, $min-value, $max-screen, $max-value) {

  // Variables
  $value-unit: getUnit.getUnit($min-value);
  $a: math.div(stripUnit.stripUnit($max-value) - stripUnit.stripUnit($min-value), stripUnit.stripUnit($max-screen) - stripUnit.stripUnit($min-screen));
  $b: stripUnit.stripUnit($min-value) - $a * stripUnit.stripUnit($min-screen);

  // Subtract or multiply
  $sign: "+";
  @if ($b < 0) {
    $sign: "-";
    $b: math.abs($b);
  }

  // Return
  @return calc(#{$a*100}vw #{$sign} #{$b}#{$value-unit});
}
