// Globals
@use "sass:math";
@use "sass:list";

// Calculate a ratio based on two numbers

@function calculate-ratio($ratio) {
  $width: list.nth($ratio, 1);
  $height: list.nth($ratio, 3);
  $percent: math.div($height, $width) * 100%;
  @return $percent;
}
