@use "../tools/variables/extendalize";
@use "../tools/mixins/property";

@if (extendalize.$illusion-extendalize == true and extendalize.$illusion-extendalize-svg != false) or extendalize.$illusion-extendalize-svg == true {
  /**
   * SVG
   */

  svg {
    @if extendalize.$illusion-extendalize-svg-width != false {
      &:not([width]) {
        @include property.property("width", 1em);
      }
    }
    @if extendalize.$illusion-extendalize-svg-height != false {
      &:not([height]) {
        @include property.property("height", 1em);
      }
    }
    @if extendalize.$illusion-extendalize-svg-color != false {
      fill: currentColor;
    }
  }

  @if extendalize.$illusion-extendalize-svg-sprite != false {
    .svg-sprite {
      display: extendalize.$illusion-extendalize-svg-sprite-display;
    }
  }
}
