@use "../functions/mapCollect";

// Logical properties

$illusion-logical-properties: false !default;

// Sizing
$illusion-logical-properties-sizing: (
    "width": "inline-size",
    "min-width": "min-inline-size",
    "max-width": "max-inline-size",
    "height": "block-size",
    "min-height": "min-block-size",
    "max-height": "max-block-size"
) !default;

// Border
$illusion-logical-properties-border: (
    "border-top": "border-block-start",
    "border-top-color": "border-block-start-color",
    "border-top-style": "border-block-start-style",
    "border-top-width": "border-block-start-width",
    "border-right": "border-inline-end",
    "border-right-color": "border-inline-end-color",
    "border-right-style": "border-inline-end-style",
    "border-right-width": "border-inline-end-width",
    "border-bottom": "border-block-end",
    "border-bottom-color": "border-block-end-color",
    "border-bottom-style": "border-block-end-style",
    "border-bottom-width": "border-block-end-width",
    "border-left": "border-inline-start",
    "border-left-color": "border-inline-start-color",
    "border-left-style": "border-inline-start-style",
    "border-left-width": "border-inline-start-width",
    "border-top-left-radius": "border-start-start-radius",
    "border-top-right-radius": "border-start-end-radius",
    "border-bottom-left-radius": "border-end-start-radius",
    "border-bottom-right-radius": "border-end-end-radius"
) !default;

// Margin
$illusion-logical-properties-margin: (
    "margin-top": "margin-block-start",
    "margin-right": "margin-inline-end",
    "margin-bottom": "margin-block-end",
    "margin-left": "margin-inline-start"
) !default;

// Padding
$illusion-logical-properties-padding: (
    "padding-top": "padding-block-start",
    "padding-right": "padding-inline-end",
    "padding-bottom": "padding-block-end",
    "padding-left": "padding-inline-start"
) !default;

// Positioning
$illusion-logical-properties-positioning: (
    "top": "inset-block-start",
    "right": "inset-inline-end",
    "bottom": "inset-block-end",
    "left": "inset-inline-start"
) !default;

// Overflow
$illusion-logical-properties-overflow: (
    "overflow-x": "overflow-inline",
    "overflow-y": "overflow-block"
) !default;

// Float
$illusion-logical-properties-float: (
    "float": "float",
) !default;

// Clear
$illusion-logical-properties-clear: (
    "clear": "clear",
) !default;

// Text-align
$illusion-logical-properties-text-align: (
    "text-align": "text-align"
) !default;

// Merged map
$illusion-logical-properties-map: mapCollect.mapCollect(
        $illusion-logical-properties-sizing,
        $illusion-logical-properties-border,
        $illusion-logical-properties-margin,
        $illusion-logical-properties-padding,
        $illusion-logical-properties-positioning,
        $illusion-logical-properties-overflow,
        $illusion-logical-properties-float,
        $illusion-logical-properties-clear,
        $illusion-logical-properties-text-align,
);
