@use "sass:math";
@use "../variables/breakpoints" as *;
@use "../functions/strip-unit";

// Breakpoint
// Sets a temporary global $inside-breakpoint variable to be used inside other mixins

// Media query width in the unit set by $type. In media queries 1em and 1rem are always 16px.
@function _media-width($value, $type) {
  @if $type == inherit or $value == false {
    @return $value;
  }

  $number: strip-unit.strip-unit($value);
  $unit: math.unit($value);

  @if $unit == "px" and ($type == em or $type == rem) {
    $number: math.div($number, 16);
  } @else if ($unit == "em" or $unit == "rem") and $type == px {
    $number: $number * 16;
  }

  @return #{$number}#{$type};
}

@mixin breakpoint(
  $width,
  $width--max: $illusion-breakpoint-width-max,
  $type: $illusion-breakpoint-type
) {
  $inside-breakpoint: $width !global;
  $bp-width: _media-width($width, $type);
  $bp-width--max: _media-width($width--max, $type);
  @if $width--max == false {
    @media screen and (min-width: $bp-width) {
      @content;
    }
  } @else {
    @media screen and (min-width: $bp-width) and (max-width: $bp-width--max) {
      @content;
    }
  }

  $inside-breakpoint: false !global;
}
