// Variables
@use "../variables/breakpoints";

// Functions
@use "../functions/stripUnit";

// Breakpoint
// Sets a temporary global $inside-breakpoint variable to be used inside other mixins

@mixin breakpoint(
  $width,
  $width--max: breakpoints.$illusion-breakpoint-width-max,
  $type: breakpoints.$illusion-breakpoint-type
) {
  breakpoints.$inside-breakpoint: $width !global;
  $bp-width: if($type == inherit, $width, #{stripUnit.strip-unit($width)}#{breakpoints.$illusion-breakpoint-type});
  $bp-width--max: if($type == inherit, $width--max, #{stripUnit.strip-unit($width--max)}#{breakpoints.$illusion-breakpoint-type});
  @if $width--max == false {
    @media screen and (min-width: $bp-width) {
      @content;
    }
  } @else {
    @media screen and (min-width: $bp-width) and (max-width: $bp-width--max) {
      @content;
    }
  }
  breakpoints.$inside-breakpoint: false !global;
}
