@use "../variables/breakpoints" as *;
@use "../functions/strip-unit";

// Breakpoint
// Sets a temporary global $inside-breakpoint variable to be used inside other mixins

@mixin breakpoint(
  $width,
  $width--max: $illusion-breakpoint-width-max,
  $type: $illusion-breakpoint-type
) {
  $inside-breakpoint: $width !global;
  $bp-width: null;
  @if $type == inherit {
    $bp-width: $width;
  } @else {
    $bp-width: #{strip-unit.strip-unit($width)}#{$illusion-breakpoint-type};
  }
  $bp-width--max: null;
  @if $type == inherit {
    $bp-width--max: $width--max;
  } @else {
    $bp-width--max: #{strip-unit.strip-unit($width--max)}#{$illusion-breakpoint-type};
  }
  @if $width--max == false {
    @media screen and (min-width: $bp-width) {
      @content;
    }
  } @else {
    @media screen and (min-width: $bp-width) and (max-width: $bp-width--max) {
      @content;
    }
  }

  $inside-breakpoint: false !global;
}
