@use "../variables/pseudo";

// Pseudo elements

@mixin pseudo(
  $illusion-pseudo: pseudo.$illusion-pseudo,
  $parent-position: pseudo.$illusion-pseudo-parent-position,
  $position: pseudo.$illusion-pseudo-position,
  $content: pseudo.$illusion-pseudo-content,
  $display: pseudo.$illusion-pseudo-display
) {
  @if $parent-position != false {
    position: $parent-position;
  }

  &::#{pseudo.$illusion-pseudo} {
    @if $position != false {
      position: $position;
    }
    @if $content != false {
      content: $content;
    }
    @if $display != false {
      display: $display;
    }
    @content;
  }
}
