@use "../variables/triangle";
@use "property";

// Triangle
// CSS only triangles using borders

@mixin triangle(
  $direction: triangle.$illusion-triangle-direction,
  $size: triangle.$illusion-triangle-size,
  $color: triangle.$illusion-triangle-color
) {

  // Top and bottom arrows
  @if $direction == top or $direction == bottom {
    @include property.property("border-left", $size solid transparent);
    @include property.property("border-right", $size solid transparent);
  }

  // Left and right arrows
  @if $direction == left or $direction == right {
    @include property.property("border-top", $size solid transparent);
    @include property.property("border-bottom", $size solid transparent);
  }

  // Top
  @if $direction == top {
    @include property.property("border-bottom", $size solid);

    @if $color {
      @include property.property("border-bottom-color", $color);
    }
  }

  // Right
  @if $direction == right {
    @include property.property("border-left", $size solid);

    @if $color {
      @include property.property("border-left-color", $color);
    }
  }

  // Bottom
  @if $direction == bottom {
    @include property.property("border-top", $size solid);

    @if $color {
      @include property.property("border-top-color", $color);
    }
  }

  // Left
  @if $direction == left {
    @include property.property("border-right", $size solid);

    @if $color {
      @include property.property("border-right-color", $color);
    }
  }
}
