// Variables
@use "../variables/visually-hidden";

// Visually hidden

@mixin visually-hidden(
  $position: visually-hidden.$illusion-visually-hidden-position,
  $overflow: visually-hidden.$illusion-visually-hidden-overflow,
  $backface-visibility: visually-hidden.$illusion-visually-hidden-backface-visibility,
  $clip: visually-hidden.$illusion-visually-hidden-clip,
  $height: visually-hidden.$illusion-visually-hidden-height,
  $width: visually-hidden.$illusion-visually-hidden-width,
  $margin: visually-hidden.$illusion-visually-hidden-margin,
  $padding: visually-hidden.$illusion-visually-hidden-padding,
  $border: visually-hidden.$illusion-visually-hidden-border
) {
  @if $position != false {
    position: $position;
  }
  @if $overflow != false {
    overflow: $overflow;
  }
  @if $backface-visibility != false {
    backface-visibility: $backface-visibility;
  }
  @if $clip != false {
    clip: $clip;
  }
  @if $height != false {
    height: $height;
  }
  @if $width != false {
    width: $width;
  }
  @if $margin != false {
    margin: $margin;
  }
  @if $padding != false {
    padding: $padding;
  }
  @if $border != false {
    border: $border;
  }
}
